*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #000000;
}
/* Menu */
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: white;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
  }
  
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size:large;
    display: none;
  }
  
  ul.nav-links {
    display: flex;
    position: fixed;
    z-index: 1000;
  }
  
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link:hover {
    border: 2px solid rgb(0, 34, 128);
    color: #ffffff;
  }
  
  li.nav-link.auth {
    border: 2px solid #ffffff;
    border-radius: 1rem;
  }
  
  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-size:large;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }

/*home*/
.home{
    height: 650px;
    background-color: black;
}
.container{
    background-color: transparent;
    position: relative;
    top: 210px;
    left: 250px;
    padding: 5px;
    width: 600px;
    color: white;
}
.parrafo1{
    font-size: 200%;
}
.name{
    font-size: 350%;
}

/* about */

.about{
    height: 650px;
    background-color: #000000;    
}
.container2{
    position: relative;
    top: 100px;
    left: 100px;
    width: 50%;
    padding: 10px;
    text-align: justify;
    border: 1px solid #b6a4df;
}
.tittle{
    color: white;
    font-size: 250%;
    margin-left: 600px;
    margin-top: 50px;
}
.parrafo2{
    color: white;
    font-size: 150%;
}
.foto{
  position: relative;
  bottom: 70px;
  left: 1000px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/* Logos */
.containerImg{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 70px;
  margin-left: 5px;
  width: 900px;
  
}
.LogoJava{
  width: 10.5%;
}

.LogoHtml{
  width: 5.5%;
}
.LogoCss{
  width: 10%;
}
.LogoPython{
  width: 5%;
}


/* Skills */

.skills{
    height: 650px; 
    background-color: #000000;
}
.tittle2{
    color: white;
    font-size: 250%;
    margin-left: 600px;
}

/* Projects */

.projects{
    height: 650px; 
    background-color: #000000;
}
.tittle3{
    color: white;
    font-size: 250%;
    margin-left: 600px;
}

/* Contact */

.contact{
    height: 650px; 
    background-color: #000000;
}
.tittle4{
    color: white;
    font-size: 250%;
    margin-left: 600px;
}
