*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #f0ead8;
}
/* Menu */
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f0ead8;
    color: #000000;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
  }
  
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size:large;
    display: none;
  }
  
  ul.nav-links {
    display: flex;
    position: fixed;
    z-index: 1000;
  }
  
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link:hover {
    border: 2px solid rgb(0, 34, 128);
    color: #ffffff;
  }
  
  li.nav-link.auth {
    border: 2px solid #ffffff;
    border-radius: 1rem;
  }
  
  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-size:large;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }

/* about */

.about{
    height: 650px;
    background-color: #f0ead8;    
}
.container2{
    position: relative;
    left: 300px;
    top: 50px;
    width: 50%;
    padding: 10px;
    text-align: justify;
    border: 1px solid #b6a4df;
}
.tittle{
    color: #000000;
    font-size: 250%;
    margin-left: 600px;
    margin-top: 50px;
}
.parrafo2{
    color: #000000;
    font-size: 150%;
}
.foto{
  position: relative;
  top: 30px;
  left: 590px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/* Logos */
.containerImg{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 70px;
  margin-left: 5px;
  width: 900px;
  
}
.LogoJava{
  width: 10.5%;
}

.LogoHtml{
  width: 5.5%;
}
.LogoCss{
  width: 10%;
}
.LogoPython{
  width: 5%;
}

/* Projects */

.projects{
    height: 650px; 
    background-color: #f0ead8 ;
}
.tittle3{
    color: #000000;
    font-size: 250%;
    margin-left: 600px;
}
.contenedores {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.container {
  background-color: #e7dbdb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.container p {
  font-size: 1rem;
  margin: 0 0 20px;
  color: #555;
}

.botones {
  display: flex;
  justify-content: space-around;  
}

.btn {
  background-color: #5b8abd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.btn:hover {
  background-color: #12589e;
}

.btn-secundario {
  background-color: #6c757d;
}

.btn-secundario:hover {
  background-color: #495057;
}

/* Contact */

.contact{
    height: 650px; 
    background-color: #f0ead8;
}
.tittle4{
    color: white;
    font-size: 250%;
    margin-left: 600px;
}
