
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Syne+Mono&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
body{
  background-color: #D1D7DA;
}
/* Menu */
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #c8d2d69a;
    color: #000000;
    position: fixed; 
    top: 0; 
    width: 40%; 
    margin-left: 375px;
    margin-top: 3px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size:large;
    display: none;
  }
  
  ul.nav-links {
    display: flex;
    position: fixed;
    z-index: 1000;
  }
  
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link:hover {
    border: 2px solid rgb(0, 34, 128);
    color: #020c36;
  }
  
  li.nav-link.auth {
    border: 2px solid #ffffff;
    border-radius: 1rem;
  }
  
  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-size:large;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }

/* about */

.about{
    height: 650px;
    background-color: #D1D7DA;    
}
.container2{
    position: relative;
    left: 350px;
    top: 50px;
    width: 50%;
    padding: 10px;
    text-align: justify;

}
.tittle{
    color: #000000;
    font-size: 250%;
    margin-left: 600px;
    margin-top: 50px;
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
.parrafo2{
    color: #000000;
    font-size: 140%;
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
.foto{
  position: relative;
  top: 30px;
  left: 600px;
  width: 190px;
  height: 200px;
  border-radius: 100px;
}

/*skills*/

.skills{
  height: 500px;
  background-color: #D1D7DA;  
}
.habilidades {
  position: relative;
  text-align: center;
  position: relative;
  top: 90px;
}
.tittleSkills{
  margin-left: 550px;
  position: relative;
  bottom: 90px;
  font-size: 250%;
  font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
.button {
  background-color: #D1D7DA;
  border: none;
  border-radius: 10%;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.arms {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.arm {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Posiciones de los brazos */
.arm:nth-child(1) {
  transform: translate(-50%, -260px);
}

.arm:nth-child(2) {
  transform: translate(190px, -70%);
}

.arm:nth-child(3) {
  transform: translate(-50%, 100px);
}

.arm:nth-child(4) {
  transform: translate(-250px, -60%);
}
.Imgskills :hover{
  transition: scale(1.1);
}
.Imgskills{
  width: 85px;
}

/* Projects */

.projects{
    height: 650px; 
    background-color: #D1D7DA ;
}
.tittle3{
    color: #000000;
    font-size: 250%;
    margin-left: 550px;
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
.contenedores {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.container {
  background-color: #B4B9BB;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.container p {
  font-size: 1rem;
  margin: 0 0 10px;
  color: #555;
  text-align: justify;
}

.botones {
  display: flex;
  justify-content: space-around;  
}

.btn {
  background-color: #5b8abd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.btn:hover {
  background-color: #12589e;
}

.btn-secundario {
  background-color: #6c757d;
}

.btn-secundario:hover {
  background-color: #495057;
}

/* Contact */
.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  top: 1810px;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.contact{
    height: 650px; 
    background-color: #425B9E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tittle4{
    color: #000000;
    font-size: 250%;
    position: relative;
    top: 50px;
    margin-left: 250px;
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}
.contactContainer1{
  background-color: #425B9E;
  display: flex;
  flex-direction:column;
  width: 586px;
  justify-content: space-evenly;
  margin-left: 30px;

}
.contactContainer2{
  background-color: #425B9E;
  width: 690px;
  padding-left: 20px;
}
.imgIcon{
  width: 35px;
  margin-left: 50px;
}
.imgIcon:hover{
  transform: translateY(-5px);
}
.iconText{
  display: flex;
  flex-direction: row;
}

.fondoContacto{
  width: 550px;
  margin-top: 150px;
  margin-left: 140px;
}